@import "base/reset";
@import "layout/header";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body{
    background-image: -webkit-linear-gradient(90deg, #f45622 0%, #f53e54 100%);
    font-family: "Poppins", sans-serif;
}

.first{
    display: flex;
    justify-content: center;
    align-items: center;
    height:500px;
    .first__background{
        text-align: center;
        .first__text{
            color: #fff;
            width: 640px;
    
            h5{
                font-weight: 400;
                letter-spacing: 3px;
                width: 640px;
            }
    
            h1{
                margin-top: 20px;
                font-size: 72px;
                font-weight: 700;
                line-height: 1em;
                width: 640px;
            }
    
            p{
                margin-top: 20px;
                margin-bottom: 36px;
                width: 640px;
            }
    
            a{
                background: #fff;
                border: 1px solid white;
                color: #222;
                padding-left: 40px;
                padding-right: 40px;
                border-radius: 50px;
                line-height: 42px;
                display: inline-block;
                transition: all 0.3s ease 0s;
                text-decoration: none;
                width: 160px;
            }
            
            a:hover{
                background-color: transparent;
                color: white;
            }
    
            }
        }
    
}

.second{
    background-color:white;
    display: flex;
    justify-content: center;
    .second__background{
        width: 1140px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction:row-reverse;

        .second__text{
            background-color: white;
            box-shadow: 0px 0px 50px 0px rgb(157 157 157 / 30%);
            z-index: 2;
            
            .second__text-bar{
                z-index: 2;
                background-color: white;
                width: 530px;
                margin-top: 60px;
                margin-bottom: 60px;
                margin-right: 40px;

                h2{
                    padding-bottom: 30px;
                    font-size: 30px;
                    color: #222222;
                    line-height: 1.2em !important;
                    margin-bottom: 0;
                    margin-top: 0;
                    font-weight: 600;
                    font-family: "Poppins", sans-serif;
                }

                p{
                    margin-top: 0;
                    margin-bottom: 1rem;
                    color: #777777;
                    font-family: "Poppins", sans-serif;
                    font-weight: 300;
                    font-size: 14px;
                    line-height: 1.625em;
                }
            }
        }

        .nature{
            margin-top: 120px;
            margin-bottom: 120px;
            box-shadow: 1px 1px 3px grey;
            z-index: 1;
        }
    }
}